.modal-container {
    text-align: center;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-container--open{
    padding: 0;
    border: none;
    width: 150px;
    background: none;
}


.modal-btn--close{
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    color: red;
    border: red 1px solid;
}

.modal-btn--close:hover{
    color: white;
    background: red;
}